@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9fafb;
}

.container {
  @apply mx-auto max-w-7xl px-4;
}

/* Remove number input spinners (up/down arrows) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

